.Modal-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 16px;
  background-color: grey;
  width: fit-content;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Modal-content {
  margin-top: 8px;
  margin-bottom: 8px;
}

.Modal-actions {
  margin-top: 8px;
  margin-bottom: 8px;
}

.Modal-button {
  border: none;
  padding: 4px 8px;
  font-weight: 700;
  cursor: pointer;
  background-color: black;
  color: white;
}
